.acessibilidade {
    p, a {
    font-size: 120%;
    }
}
body{ /* cores do modo claro */
    background-color: rgb(19, 24, 19);
    color: antiquewhite;
    .topo { /* navbar */
        background-color: #001f13;
    }
    .menu li a { /* cor do texto dos botoes da navbar */
        color: antiquewhite;
    }
    .active { /* cor do botao da pagina ativa */
        background-color: rgb(70, 90, 75);
        transition: 0.75s;
    }
    a {
    color: antiquewhite;
    } /* remove cor azul de links e adiciona efeito hover */
    a:hover {
        color:#c7dfce;
    }
    transition: 0.75s;
}

body.light{ /* cores do modo claro */
    background-color: rgb(228, 255, 239);
    .topo { /* cor da navbar */
        background-color: #b1e0bf;  
    }
    .active {
        background-color: rgb(70, 90, 75);
        transition: 0.75s;
        color: antiquewhite;
    }
    :not(.active) { /* somente o botao ativo recebe a cor branca */
        color: rgb(24, 24, 24);
    }
    .mainTitulo .indice { /* cores do indice que fica na classe mainTitulo */
        background-color: #c7dfce;
        a { /* cores dos links no indice */
            color: #000000;
        }
        a:hover {
            color:rgb(33, 116, 51);
        }
    }
    .cartao {
        background-color: #b1e0bf;
    }
    transition: 0.75s;
    a { /* cores dos links modo claro */
        color: #000000;
    }
    a:hover {
        color:rgb(33, 116, 51);
    }
    
}   

/* trilho: toggle para mudança de tema. */
.trilho {
    width: 60px;
    height: 30px;
    background-color: #303030;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador { /* bolinha do trilho */
    width: 30px;
    height: 30px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    transform: scale(0.9);
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.75s;
}

.trilho.light{
    background-color:#aaaaaa;
}

.trilho.light .indicador {
    left: 32px; /* o quanto o icone de tema se move na mudanca de tema, metade da largura do trilho + 2px pra ficar bonito */
    background-color: rgb(0, 0, 0);
}



/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

.fonteCaprasimo { /* Class fonte*/

  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

/* fim_fontes */



.topo { /* estilo da navbar */
    display: flex;
    align-items: center; /* no ventro verticalmente */
    justify-content: space-between; /* ajusta o espaço de acordo com os elementos adicionados */
    padding: 0 52px; /* padding topo e lados */
    height: 64px;
    border-radius: 14px;
    border: 2px solid rgb(70, 90, 75); /* Cor da borda da navbar */
    box-shadow: 0 3px 8px rgba(0,0,0,0.04); /* tamanho da sombra, suavização de borda e cor */
    transition: all 0.3s ease;
}


.menu { /* lista de botoes para mudar de pagina */
    display: flex;
    gap: 32px;
    list-style: none; /* remove marcadores, como • ou 1- */
    margin: 0;
    padding: 0;
    
}

.menu li a {
    text-decoration: none; /* sem estilo nos links */
    color: #000000;
    font-weight: 500; /* quase negrito */
    padding: 8px 16px;
    border-radius: 8px;
}

.menu li a:hover {
    background: #aaaaaa;
    color: #fff;
}

.centralizado { /* div centralizada */
    padding-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    transition: all 0.3s ease;
}

.botaoGrande { /* utilizado na pagina em construcao */
    display: flex;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; /* organiza o espaço dos itens dentro do botao */
    background-color: #303030;
    border: 2px solid #b1e0bf;
    border-radius: 14px;
    
}
.botaoGrande:hover {
    background-color: #42573f;
    scale: 1.1;
}

.divAlinhadora { /* esse div é pra alinhar a outra div */
    display: flex;
    justify-content: center;
    height: auto  /*Ocupa a tela toda verticalmente*/    
}
.classDivs {   /*esse div é a do meio */
    width: 1000px; /* tamanho do lugar pra escrever */
    margin-top: 75px; /* Distancia entre topo e div */
    text-align: left; /* Textos na esquerda da div */   
    word-break: normal; /* Toda fez que um h1 ou um p terminar ele da um <br> sem cortar a palavra ao meio */
    border: 2px solid rgb(70, 90, 75); /* Cor da borda da div meio */
    padding: 20px; /* Pra nao ficar grudado na borda */
    border-radius: 14px;
}
.classDivs h1, h2 { /*faz os titulos h1 e h2 irem para o meio da div */
    display: flex;
    justify-content: center;
}

.gridTexto { /* textos um ao lado do outro no fim da pag inicial */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    div {
        width: 40%;
    }
}
.tituloGrande {
    font-size: 400%;
    margin-bottom: 0cm;
}
.mainTitulo { /* parte com titulo grande, subtitulo e indice na tela inical */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .indice {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 50px;
        flex-direction: column;
        background-color: #303030;
        border: #b1e0bf solid 2px;
        border-radius: 18px;
        width: 200px;
        align-items: center;
        justify-content: space-evenly;
        a {
            text-decoration: none !important; /*remove decoração do link no indice*/
            color: antiquewhite;
        }
        a:hover {
            color:#b1e0bf
        }
        }
}

#botaoAcessibilidade {
    position: fixed;
    right:0;
    bottom:0;
}

.cartoes { /* cartoes dos membros do grupo */
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    .cartao {
        display: flex;
        align-items: center;
        width: 300px;
        flex-direction: column;
        border: 2px solid rgb(70, 90, 75);
        border-radius: 18px;
        background-color: #001f13;
    }
}

.classImagemFotos { /* para ajeitar as fotos de perfil */
    height: 300px;
    border-radius: 10%;
}